*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.main{
    display: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: thistle;
    padding: 10px;
}
